{:paths ["src" "resources"]
 :deps {thheller/shadow-cljs {:mvn/version "2.11.1"}
        reagent/reagent {:mvn/version "1.0.0-alpha2"
                         :exclusions [cljsjs/react cljsjs/react-dom]}
        http-kit/http-kit {:mvn/version "2.4.0"}
        org.clojure/clojure {:mvn/version "1.10.1" }
        metosin/reitit {:mvn/version "0.5.5"}
        cljs-ajax/cljs-ajax {:mvn/version "0.8.1"}
        com.taoensso/sente {:mvn/version "1.15.0"}
        ring/ring {:mvn/version "1.8.1"}
        ring/ring-defaults {:mvn/version "0.3.2"}
        hiccup/hiccup {:mvn/version "1.0.5"}}}
