{:source-paths []
 :deps true
 :builds {:baduk {:target :browser
                  :output-dir "resources/public/js"
                  :asset-path "resources/js"
                  :modules {:main {:init-fn baduk.core/main}}
                  :devtools {}}}}
