{:source-paths ["src"]
 :dependencies [[reagent "1.0.0-alpha2" :exclusions [cljsjs/react cljsjs/react-dom]]]
 :builds {:baduk {:target :browser
                  :output-dir "public/js"
                  :asset-path "js"
                  :modules {:main {:init-fn baduk.core/main}}
                  :devtools {:http-root "public"
                             :http-port 3000}}}}
